# Abaikan semua file dan folder secara default
*

# Kecualikan folder test_appV2 (yaitu, masukkan isinya)
!test_appV2/
!test_appV2/**

# Kecualikan folder slice (yaitu, masukkan isinya)
!slice/
!slice/**

# Kecualikan .gitignore itu sendiri agar dilacak
!.gitignore